@charset "UTF-8";
body{
background-color: rgb(4, 209, 31);
}
h1{ background-color: rgb(224, 18, 18);


}

p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 40px;
background-color: rgb(255, 255, 255);
}
a{
font-size: 20px;

}




